extends layout

block content
  h1= title

  div.container
    div.row
      div.col.s6
          a#grpc.waves-effect.waves-light.btn gRPC
          div
            span#grpcTime
            span ミリ秒
          img#grpcImg1(src='' width='200px')
          img#grpcImg2(src='' width='200px')
          img#grpcImg3(src='' width='200px')
          img#grpcImg4(src='' width='200px')
          img#grpcImg5(src='' width='200px')
          img#grpcImg6(src='' width='200px')
          img#grpcImg7(src='' width='200px')
          img#grpcImg8(src='' width='200px')
          img#grpcImg9(src='' width='200px')
          img#grpcImg0(src='' width='200px')
      div.col.s6
          a#rest.waves-effect.waves-light.btn REST
          div
            span#restTime
            span ミリ秒
          img#restImg1(src='' width='200px')
          img#restImg2(src='' width='200px')
          img#restImg3(src='' width='200px')
          img#restImg4(src='' width='200px')
          img#restImg5(src='' width='200px')
          img#restImg6(src='' width='200px')
          img#restImg7(src='' width='200px')
          img#restImg8(src='' width='200px')
          img#restImg9(src='' width='200px')
          img#restImg0(src='' width='200px')
